.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "YumemiGothicBeta";
  src: url("YumemiGothicBeta.woff") format("woff");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradation-text {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(
    149.56deg,
    #fe4a72 1.06%,
    #fe637b 21.29%,
    #ff8b8b 54.61%,
    #ffaf97 81.19%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
}

.gradation-background {
  background: linear-gradient(
      149.56deg,
      #fe4a72 1.06%,
      #fe637b 21.29%,
      #ff8b8b 54.61%,
      #ffaf97 81.19%
    ),
    #c4c4c4;
}

.yumemi-text {
  font-family: "YumemiGothicBeta";
}

.linkbox {
  position: relative;
}
.linkbox a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
